@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #D8DDD4;
}

.navegacion{
    width: 1790px;
    margin: auto;
    background:radial-gradient( black, #1162ac);
}

.navegacion ul{
list-style: none;
}

.menu > li{
/*position: relative;*/
display: inline-block;
}

.menu > li > a{
display: block;
padding: 20px 20px;
color: lime;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
}

.menu li a:hover{
color:#000161;
transition: all .3s;
}

/* submenu */

.submenu{
    position: absolute;
    background:radial-gradient( black, #1162ac);
    width: 12%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: lime;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
visibility: visible;
opacity: 1;
}

p{
font-family: 'Montserrat', sans-serif;
}

img.uno{
    width: 300px;
    margin: 2px 2px;
    padding: 5px;
    border-radius: 20px;
}